node_modules/
target/
_out/
gen/
app/machine_assistant/dist/
app/machine_assistant/.ui5-tooling-modules/
/.ui5-tooling-modules/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
